sudo apt update
sudo apt install build-essential python3-dev

pip==24.3.1
setuptools==67.8.0
wheel>=0.44.0
numpy==1.26.2
catboost==1.2
scikit-learn==1.2.2
pandas
xgboost
seaborn
whois
googlesearch-python
beautifulsoup4
requests
python-dateutil
pip install PyYAML==6.0

