pip==24.3.1
setuptools==67.8.0
wheel>=0.44.0
numpy==1.26.2
catboost==1.2
scikit-learn==1.2.2
pandas
xgboost
seaborn
whois
googlesearch-python
beautifulsoup4
requests
python-dateutil
PyYAML==6.0.1 --no-binary=PyYAML
